{{> header }}


    {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>NodeJS</h1>
        
    </div>

    <div class="col-4">
        <img src="assets/img/server-nodejs.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}